# gradle
.gradle
build
repo

# eclipse
.settings
.metadata
.classpath
.project
bin

# intellij
out
*.idea
*.iml

# src
src/main/groovy/net/minecraftforge/gradleutils/GradleUtils.groovy
src/main/groovy/net/minecraftforge/gradleutils/ChangelogUtils.groovy
src/main/groovy/net/minecraftforge/gradleutils/tasks/GenerateChangelogTask.java
