name: Release

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  statuses: write
jobs:
  build:
    uses: neoforged/actions/.github/workflows/gradle-publish.yml@main
    with:
      java: 8
      version_task: 'configureActions'
      gradle_tasks: 'publish publishPlugins'
    secrets:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      MAVEN_USER: ${{ secrets.MAVEN_USER }}
      MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      GPG_KEY_PASSWORD: ${{ secrets.GPG_KEY_PASSWORD }}
      GPP_KEY: ${{ secrets.GPP_KEY }}
      GPP_SECRET: ${{ secrets.GPP_SECRET }}